.info__title{
    font-size: 25px;
    margin-bottom: 20px;
}

.input+.input{
    margin-left: 20px;
}

.input{
    height: 55px;
    padding: 10px;
    font-size: 15px;
    width: 300px;
    border-radius: 20px;
}

.table .table__td{
    border: 1px solid #000;
}

.table{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.top{
    font-weight: 700;
}

.title{
    margin-bottom: 20px;
}